<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<variable name="logDirectory" value="${basedir}/Logs"/>

	<targets>
		<target name="console" xsi:type="ColoredConsole"
				layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message} ${exception:format=ToString}"/>

		<target name="file" xsi:type="File"
				fileName="${logDirectory}/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message} ${exception:format=ToString}"
				encoding="utf-8"
				concurrentWrites="true"
				keepFileOpen="false"/>

		<target name="errorFile" xsi:type="File"
				fileName="${logDirectory}/Errors/${shortdate}_error.log"
				layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message} ${exception:format=ToString}"
				encoding="utf-8"
				concurrentWrites="true"
				keepFileOpen="false"/>
	</targets>

	<rules>
		<logger name="*" level="Error" writeTo="errorFile" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="file"/>
		<logger name="*" minlevel="Info" writeTo="console"/>
	</rules>
</nlog>
